USE [master]
GO
/****** Object:  Database [UMCLOCKER]    Script Date: 06/04/2020 16:10:03 ******/
CREATE DATABASE [UMCLOCKER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UMCLOCKER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UMCLOCKER.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UMCLOCKER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UMCLOCKER_log.ldf' , SIZE = 4224KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UMCLOCKER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UMCLOCKER]
GO
/****** Object:  Table [dbo].[Dept]    Script Date: 06/04/2020 16:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dept](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dept] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locker]    Script Date: 06/04/2020 16:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locker](
	[locker_index] [int] NOT NULL,
	[locker_number] [int] NOT NULL,
	[owned] [nvarchar](100) NULL,
 CONSTRAINT [PK_Locker] PRIMARY KEY CLUSTERED 
(
	[locker_number] ASC,
	[locker_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pos]    Script Date: 06/04/2020 16:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_pos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shoes]    Script Date: 06/04/2020 16:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoes](
	[shoes_index] [int] NOT NULL,
	[shoes_number] [int] NOT NULL,
	[owned] [nvarchar](100) NULL,
 CONSTRAINT [PK_Shoes] PRIMARY KEY CLUSTERED 
(
	[shoes_number] ASC,
	[shoes_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 06/04/2020 16:10:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[enter_date] [date] NULL,
	[department] [int] NULL,
	[position] [int] NULL,
	[locker_number] [int] NULL,
	[locker_index] [int] NULL,
	[shoes_number] [int] NULL,
	[shoes_index] [int] NULL,
	[staff_code] [nvarchar](100) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK__Staff__6B24EA82] FOREIGN KEY([locker_number], [locker_index])
REFERENCES [dbo].[Locker] ([locker_number], [locker_index])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK__Staff__6B24EA82]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK__Staff__6C190EBB] FOREIGN KEY([shoes_number], [shoes_index])
REFERENCES [dbo].[Shoes] ([shoes_number], [shoes_index])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK__Staff__6C190EBB]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_StaffDept] FOREIGN KEY([department])
REFERENCES [dbo].[Dept] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_StaffDept]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_StaffPos] FOREIGN KEY([position])
REFERENCES [dbo].[Pos] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_StaffPos]
GO
USE [master]
GO
